@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
	::-webkit-scrollbar {
		background: black;
		width: 0.2rem;
	}
	::-webkit-scrollbar-thumb {
		background: radial-gradient(
			ellipse farthest-corner at 0 -25%,
			#5258cf,
			transparent 90%
		);
	}

	.placeholder-style::placeholder {
		padding-left: 30px;
		color: gray;
	}
	.icon-hover {
		@apply md:hover:scale-105 transition-all ease-linear duration-300 md:hover:bg-slate-900 rounded-full md:p-3;
	}
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.instagram-gradient {
		background: radial-gradient(
				circle farthest-corner at 35% 90%,
				#fec564,
				transparent 50%
			),
			radial-gradient(
				circle farthest-corner at 0 140%,
				#fec564,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 0 -25%,
				#5258cf,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 20% -50%,
				#5258cf,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 100% 0,
				#893dc2,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 60% -20%,
				#893dc2,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 100% 100%,
				#d9317a,
				transparent
			),
			linear-gradient(
				#6559ca,
				#bc318f 30%,
				#e33f5f 50%,
				#f77638 70%,
				#fec66d 100%
			);
	}

	.animation-stop {
		animation-iteration-count: 1 !important;
		animation-fill-mode: backwards;
	}
}
